{% extends 'base.html' %}

{% block title %}

Login - Image Comparison App

{% endblock %}
{% block content %}
<section id="about" class="min-vh-90 d-flex align-items-center section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="40">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">About Web</h1>
                    <div class="line"></div>
                    <h5 class="display-6 fw-semibold text-back">
                        <p>
                            Image compression is a vital technique used in various fields such as digital photography,
                            medical imaging, satellite imaging, and web development.It involves reducing the size of 
                            an image file while retaining its visual quality, thereby saving storage space
                            and improving transmission efficiency.In this short essay, we'll explore two popular
                            methods of image compression: lossy compression and lossless compression.
                        </p>
                    </h5>
                    <h5 class="display-6 fw0semibold text-black">
                        Both lossy and lossless compression techniques have their advantages and limitations, and the choice between them depends on the specific requirements of the application.
                        Lossy compression offers higher compression ratios and smaller file sizes but may result in some loss of image quality. In contrast, lossless compression preserves image quality but generally
                        yields larger file sizes. Therefore, it's essential to consider factors such as the intended use of the image, storage constraints, and desired image quality when selecting the appropriate compression method.

                    </h5>
                    
                
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}